<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <form method="POST">
            <div class="form-group">
                <label for="input">Input:</label>
                <input
                        type="text"
                        class="form-control"
                        id="input"
                        name="input"
                        placeholder="Zahl eingeben"
                \>
            </div>
            <div class="form-group">
                <label for="output">Ergebnis:</label>
                <output for="input" id="output">{ input }</output>
            </div>
        </form>
    </body>
</html>