{% extends "base.html" %}
{% block title %}Aufgabenblatt{% endblock %}

{% block content %}
    <header>
        <h1>Aufgabenblatt</h1>
    </header>
    <main>
        <form method="POST">
            <!--
                button hand-in_button muss in der selben form methode sein
            -->
            <ul>
                {% for key, value in exercises.items() %}
                    <li class="list-group-item">
                        <pre>{{ value }}</pre>
                        <input
                            type="text"
                            class="form-control"
                            id="selector-{{ key }}"
                            name="selector-{{ key }}"
                            placeholder="0"
                        />
                    </li>
                {% endfor %}
            </ul>
            <button id="hand-in_button" type="submit" class="btn btn-primary" value="submit" name="hand-in_button">Einreichen</button>            
        </form>
    </main>
    <footer>
        <form method="POST">
            <button id="return_button" type="submit" value="return" name="return_button">Home</button>
        </form>
    </footer>    
{% endblock %}
