{% extends "base.html" %}
{% block title %}Aufgabenblatt{% endblock %}

{% block content %}
    <header>
        <h1>Aufgabenblatt</h1>
    </header>
    <main>
        <form method="POST">
            {% for exercise in exercises %}
                <li class="list-group-item">
                    {{ exercise }}
                    <input
                        type="text"
                        class="form-control"
                        id="input_result"
                        name="input_result"
                        placeholder="0"
                    />
                </li>
            {% endfor %}
        </form>
    </main>
    <footer>
        <form method="POST">
            <button id="hand-in_button" type="submit" value="submit" name="hand-in_button">Einreichen</button>
            <button id="return_button" type="submit" value="return" name="return_button">Home</button>
        </form>
    </footer>    
{% endblock %}
