{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <header>
        <h1>Lernprogramm</h1>
        <div id="log">
            <form method="POST">
                <button id="loButton" href="/logout" type="submit" value="logout" name="logout_button">Logout</button>
            </form>
        </div>        
    </header>
    <main>
        <div id="user">
            <h2>Anwender</h2>
            <div id="user_item">
                <form method="POST" action="/">
                    <h3>Benutzer</h3>
                    <div class="form-group">
                        <label for="output_user_name">Benutzername: </label>
                        <output for="user_name" id="output_user_name">{{user_name}}</output>
                    </div>
                    <div class="form-group">
                        <label for="output_first_name">Name: </label>
                        <output for="first_name" id="output_first_name">{{first_name}}</output>
                    </div>
                    <div class="form-group">
                        <label for="output_last_name">Nachname: </label>
                        <output for="last_name" id="output_last_name">{{last_name}}</output>
                    </div>
                </form>
            </div>
            <div id="user_item">
                <h3>Nutzerstatistiken</h3>
                <div class="form-group">
                    <label for="exercises">Aufgaben gesamt: </label>
                    <output for="exercises" id="output_exercises">{{exercises}}</output>
                </div>
                <div class="form-group">
                    <label for="output_average">Durchschnitt: </label>
                    <output for="average" id="output_average">{{average}}</output>
                </div>
            </div>
        </div>
        <div id="theme">
            <h2>Themen</h2>
            <form method="POST" action="/">
                <button id="exButton" type="submit" value="exercise" name="exercise_button">Zufällige Aufgaben</button>
            </form>
            <pre>1. Thema: Addition          Stufe: {{niveau}}            Aufgaben: {{number_exercises}}             Durchschnitt: {{average_exercises}}</pre>
            <p>Textfeld?!</p>
        </div>
        <div id="exercises">
            <h2>Aufgaben</h2>
            <p>1. Aufgabenblatt ...</p>
        </div>
    </main>
{% endblock %}