{% extends "base.html" %}
{% block title %}Registry{% endblock %}

{% block content %}
    <div id="registry_frame">
        <h2>Registrieren</h2>
        <form method="POST">
            <div class="form-group_registry">
                <label for="user_name">Benutzername: </label>
                <input
                    type="text"
                    class="form-control"
                    id="input_user_name"
                    name="input_user_name"
                    placeholder="DoJo"
                />
            </div>
            <div class="form-group_registry">
                <label for="first_name">Vorname: </label>
                <input
                    type="text"
                    class="form-control"
                    id="input_first_name"
                    name="input_first_name"
                    placeholder="John"
                />
            </div>
            <div class="form-group_registry">
                <label for="last_name">Nachname: </label>
                <input
                    type="text"
                    class="form-control"
                    id="input_last_name"
                    name="input_last_name"
                    placeholder="John"
                />
            </div>
            <button id="login_button" type="submit" value="login" name="login_button">Login</button>
        </form>
    </div>
{% endblock %}
