body {
    background-color: black;
    z-index: 0;
}

div#base {
    background-color: whitesmoke;
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
    width: auto;
}

h1 {
    margin: 0em;
}

h2 {
    width: 100%;
}

header {
    padding: 10px;
}

button#loButton {
    background-color: seagreen;
    border-radius: 5px;
}

main {
    padding: 10px;
}

div#user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

div#user_item {
    width: 50%;
}